/*
Source - https://stackoverflow.com/a
Posted by Kevin vd Bosch, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-02, License - CC BY-SA 4.0
*/

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

@page {
		size: 8.5in 11in;
		margin-top: 0.5in;
		margin-bottom: 0.25in;
		margin-left: 0.25in;
		margin-right: 0.25in;
}

@media print {
		.controls {
				display: none;
		}
}

body {
		margin: auto;
		display: flex;
		flex-direction: column;
		height: 10in;
		width: 8in;
		font-family: KaiTi;
}

.spacer {
		height: 2vh;
}

#name {
		display: inline-flex;
		flex: 2 0 0;
}

#name-field {
		border-bottom: 2px solid;
		flex: 1;
}

#subtitle {
		display: inline-flex;
}

#section-field {
		border-bottom: 2px solid;
		width: 0.5in;
}

#title {
		text-align: center;
}

.header > span {
		flex: 1 0 0;
}

.header {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		margin-bottom: 8px;
}

.row {
		display: flex;
		flex: 1 0 0;
}

.grid {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
}

.cell {
		height: 100%;
		aspect-ratio: 1;
		border: 1px solid #00000077;
		box-sizing: border-box;
		background-image: url("./guide2.png");
		background-size: contain;
		align-content: center;
		text-align: center;
		font-size: 48px;
		/*
		background-color: red;
		*/
}

.class-number {
		width: 0.5in;
}
